<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Missão Diária</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <h1>📘 Missão Diária</h1>

    <div id="streak">🔥 Streak: --</div>

    <div id="mission" class="card">
        <h2 id="title">Carregando...</h2>
        <p id="preview"></p>

        <button id="readBtn">Ler texto</button>
        <button id="completeBtn">Concluir missão</button>
    </div>

    <div id="reading" class="card hidden">
        <h2 id="readingTitle"></h2>
        <p id="content"></p>

        <button id="backBtn">Voltar</button>
    </div>

    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/app.js"></script>
</body>
</html>
